<h1>Framwork AngularJs</h1>
<p> Voici un site fait avec AngularJS avec un style Bootstrap et Css , l'impact d'angular se fait surtout sur les partis dynamique ( boutton , changement de page , formulaire ... )
</p>
<br>
<p>Vous pourez retrouvée</p>
<li>
  <ul>Un menu dont les liens sont fait grace a la mechanique de Router d'angular et non avec de simple Href , ces liens permettent d'acceder aux différents components de l'application et non a de simple pages</ul>
  <ul>Un formulaire qui met a jour la page via le controller lors de la soumission de celui-ci</ul>
  <ul>Enfin vous trouverez la possibilité de vous connecter(sans back-end)</ul>

